.start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffc0cb, #ffe4ec);
  text-align: center;
}

.start-screen h1 {
  font-size: 36px;
  color: #ff1493;
}

.subtitle {
  margin: 10px 0 20px;
  font-size: 18px;
  color: #444;
}

.start-btn {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background-color: #ff69b4;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  background-color: #ff1493;
  transform: scale(1.05);
}

body::before {
  content: "Kelsye M. Perez";
  position: fixed;
  bottom: 10px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8); /* strong black but not too harsh */
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;
}


body {
  font-family: 'Comic sans MS', sans-serif;
  background: linear-gradient(to right, #f97087b8, #ffe4e1);
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #ff1493;
  font-size: 40px;
  margin-bottom: 20px;
}

.question {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #ff69b4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff1491ba;
  transform: scale(1.05);
}

#result {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#restart {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: #ff1493;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#restart:hover {
  background-color: #ff69b4;
}